.tableFixHead thead th { position: fixed; top: 0; width:100%;}

table {
    overflow-x: auto;
    white-space: nowrap;
}

#away {
    border-bottom: 3pt solid black;
}

#header {
    border-bottom: 2pt solid black;
    border-right: 2pt solid black;
}

td {
    border-left: 2pt solid black;
    border-right: 2pt solid black;
}

.footer {
    border-bottom: 2pt solid black;
}
#footCols {
    border-left: 2pt solid black;
    border-right: 2pt solid black;
}